/* cyrillic-ext */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Sora/Sora-Medium.ttf);
}
/* latin */
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Lora/Lora-Bold.ttf);
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Sora/Sora-Regular.ttf);
}
